thead
    {
        font-weight: bold;
    }
lable
{
    font-weight: bold;
    padding-left: 10px;
    margin-left: 10px;
}

.roundDiv
{
    display: block;
    padding-left: 20px;
    margin-left: 20px;
}

.myDiv
    {
        display: block;
        width: 50%;
        margin: 5px;
        padding: 10px;

    }

.tableDiv
{
        width: 50%;
        padding: 10px;
}

.form-input
{
    width: 200px;
    border: 2px solid lightblue;
}

.selected {
    color: red;
    font-weight: bold;
}

#buttonlink
{
    color: white;
}


button
{
    padding-bottom: 10px;
}

.dropdown-backdrop {
    position: static;
}